:root {
  --cream: #E4D4B3;        /* Text */
  --blue: #0076BF;       /* Title */
  --dark-brown: #373634;   /* Background */
  --coffee: #B3A692;       /* Hover */
  --latte: #938775;        /* Link */
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/rigata');
                

/* === Global site style === */
body {
  background-color: black;
  color: var(--cream);
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18px; /* base size */
  line-height: 1.6;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Rigata', sans-serif;
  color: var(--blue);
}

/* Custom font sizing (based on your design) */
h1 { font-size: 110px; }
h2 { font-size: 64px; }
h3 { font-size: 48px; }
h4 { font-size: 36px; }

p, li {
  font-size: 18px;
}

/* Links */
a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  color: var(--latte);
  text-decoration: underline;
}

/* Navbar */
#main-navbar {
  background-color: rgba(255, 255, 255, 0); /* Semi-transparent white */
  transition: background-color 0.5s ease; /* Smooth transition */
  position: fixed; /* Keep navbar fixed at the top */
  width: 100%;
  top: 0;
  z-index: 1000;
  /* background-color: var(--coffee) !important; */
}

#main-navbar.scrolled {
  background-color: #000; /* Solid black when scrolled */
}

.nav-link {
  color: var(--latte) !important;
  font-weight: 600;
}

.nav-link:hover {
  color: var(--cream) !important;
}

.bg-brown { background-color: var(--dark-brown); }
.bg-cream { background-color: var(--cream); }
.bg-coffee { background-color: var(--coffee); }
.bg-blue { background-color: var(--blue); }
.bg-latte { background-color: var(--latte); }

.text-latte { color: var(--latte); }
.text-cream { color: var(--cream); }
.text-blue { color: var(--blue); }
.btn-latte {
  background-color: var(--latte);
  color: var(--coffee);
  border: none;
}
.btn-latte:hover {
  background-color: var(--coffee);
  color: var(--cream);
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e;
}

.carousel-indicators li {
  border-color: #f4511e;
}

.carousel-indicators li.active {
  background-color: #f4511e;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

.bg-section {
  position: relative;
  background-image: url('https://storage.googleapis.com/historic-detroit-prod/uploads/photo/photo/13976/Y1060046.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.bg-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* grey with 40% opacity */
  z-index: 0;
}

.bg-section > * {
  position: relative;
  z-index: 1;
}